.product-card{
    position: absolute;
    left: 0;
    bottom: 0;
}

.card{
    background-color: white;
    width: 296px;
    border-radius: 4px;
    box-shadow: 0 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 20px 30px;
}
.card-title{
    position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 12px;
    margin-bottom: 13px;
}
.card-title::after{
    content: '';
    position: absolute;
    background-color: black;
    height: 0.75px;
    left: -7px;
    right: -7px;
    bottom: 0;
}
.card-avatar{
    margin-bottom: 25px;
}
.card-content{
    text-align: left;
    padding-left: 6px;
}
.card-content-title{
    font-family: 'Georgia', serif;
    font-size: 16px;
    margin-bottom: 22px;
    font-weight: 700;
}
.card ul li{
    font-size: 11px;
    list-style-type: disc;
    list-style-position: inside;
}
.card ul li + li{
    margin-top: 20px;
}