.product{
    padding-top: 120px;
    padding-bottom:168px;
}
.product-row{
    display: flex;
    justify-content: space-between;
}
.product-content{
    max-width: 584px;
}
.product-heading{
    font-family: 'Lato', serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #424242;
    margin-bottom: 10px;
}
.product-title{
    font-family: 'Georgia',serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
    margin-bottom: 20px;
}
.product-text{
    max-width: 530px;
    font-family: 'Lato',serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
}
.product-btn{
    padding-top: 40px;
}
.big-img{
    border-radius: 16px;
    margin-right: 86px;
}
.product-img{
    position: relative;
    margin-right: 86px;
    padding-left: 60px;
    padding-bottom: 74px;
}
